<div class="user-profile-container">
  <!-- カバー画像 -->
  <div class="user-profile-container__cover">
    <img src="https://trippiece.s3.amazonaws.com/static/img/sp/cover/default_1@2x.jpg">
  </div>
  <!-- ユーザーのプロフィール欄 -->
  <div class="user-profile-container__upper-infos">
    <div class="user-profile-image">
      <%= image_tag current_user.avatar %>
    </div>
    <div class="user-profile-name">
      <%= current_user.nickname %>
    </div>
    <!-- お気に入りのレコメンド等の情報 -->
    <div class="user-profile-recommend-infos">
      <!-- お気に入り数 -->
      <div class="recommend-info">
        <div class="recommend-info__num">
          <a href="", class="recomend-info__num-link">0</a>
          <div class="recommend-info__label">
            お気に入りのやーつ
          </div>
        </div>
      </div>
      <!-- 作成数 -->
      <div class="recommend-info">
        <div class="recommend-info__num">
          <a href="", class="recomend-info__num-link">0</a>
          <div class="recommend-info__label">
            作成したやーつ
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- ユーザーのプロフィール -->
  <div class="user-profile-infos">
    <div class="user-profile-infos-line">
      <h2 class="user-profile-infos-line__label">自己紹介</h2>
      <p class="user-profile-infos-line__content">
        <span class="user-profile">自己紹介はまだありません</span>
      </p>
    </div>
  </div>
</div>
<!-- ページ下部 -->
<div class=" user-mylist-container">
  <div class="user-mylist-menu">
    <ul>
      <li class="user-mylist-menu__item">
        <a href="#tab1" class="current">お気に入り</a>
      </li>
      <li class="user-mylist-menu__item">
        <a href="#tab2" class="">作成</a>
      </li>
    </ul>
  </div>
  <!-- リスト毎の情報 -->
  <div class="user-mylist-contents">
    <div id="tab1">
      <p><strong>
      <% if current_user.favorites.any? %>
        <% @user.recommends.each do |recommend| %><%= recommend.title %><% end %>
      <% else %>
        <span>特にないやーつ</span>
      <% end %>
      </strong></p>
      <p></p>
    </div>
    <div id="tab2">
      <p><strong>とりあえずここに作成したの表示させるやつ</strong></p>
      <p></p>
    </div>
  </div>
</div>
