<div id="slider">
  <div id="back"><img src="https://magnets.jp/demo/inagaki20140711/back.jpg"></div>
  <div id="next"><img src="https://magnets.jp/demo/inagaki20140711/next.jpg"></div>
    <ul id="photo">
        <li><a href=""><img src="https://magnets.jp/demo/inagaki20140711/img1.jpg"></a></li>
        <li><img src="https://magnets.jp/demo/inagaki20140711/img2.jpg"></li>
        <li><img src="https://magnets.jp/demo/inagaki20140711/img3.jpg"></li>
        <li><img src="https://magnets.jp/demo/inagaki20140711/img4.jpg"></li>
    </ul>
</div>
