<div class= "home-main__recommend">
  <div class= "home-main__recommend--thumb">画像</div>
  <div class= "home-main__recommend--description">
    <div class= "home-main__recommend--description-user">アイコン</div>
    <div class= "home-main__recommend--description-title">タイトル</div>
    <div class= "clearfix"></div>
    <div class= "home-main__recommend--description-tag">タグ</div>
    <div class= "home-main__recommend--description-fav">Fav</div>
    <div class= "clearfix"></div>
  </div>
</div>

<div class= "home-main__recommend">
  <div class= "home-main__recommend--thumb">画像</div>
  <div class= "home-main__recommend--description">
    <div class= "home-main__recommend--description-user">アイコン</div>
    <div class= "home-main__recommend--description-title">タイトル</div>
    <div class= "clearfix"></div>
    <div class= "home-main__recommend--description-tag">タグ</div>
    <div class= "home-main__recommend--description-fav">Fav</div>
    <div class= "clearfix"></div>
  </div>
</div>

<div class= "home-main__recommend">
  <div class= "home-main__recommend--thumb">画像</div>
  <div class= "home-main__recommend--description">
    <div class= "home-main__recommend--description-user">アイコン</div>
    <div class= "home-main__recommend--description-title">タイトル</div>
    <div class= "clearfix"></div>
    <div class= "home-main__recommend--description-tag">タグ</div>
    <div class= "home-main__recommend--description-fav">Fav</div>
    <div class= "clearfix"></div>
  </div>
</div>
