<div class= "container">
  <div class= "home-featured-content">
  <%= render partial: "featured" %>
  </div>

  <div class= "home-main">
    <div class= "home-main__tab">ここにタブを表示し、クリックで切り替え</div>
    <div class= "home-main__container">
      <div class= "home-main__filter">ここで表示の並び替えなどを行う</div>
      <div class= "home-main__recommends-list">
        <%= render partial: "recommend" %>
      </div>
    </div>
  </div>
</div>
