#slider {
  width: 100%;
}
#photo {
  width: 100%;
  height: 420px;
  position: relative;
  z-index: 1;
}
#photo li {
  width: 100%;
}
#photo li img {
  width: 100%;
  height: 420px;
}

//切り替わる画像(absoliteで重ねている)
#photo li {
  position:absolute;
}

//戻るボタン
#back {
  position: relative;
  height: 420px;
  line-height: 420px;
  float:left;
  z-index: 2;
}
//次へボタン
#next {
  position: relative;
  height: 420px;
  line-height: 420px;
  float:right;
  z-index: 2;
}
