html {
  width: 100%;
  height: 100%;
}
.clearfix {
  clear: both;
  display: block;
}
//全体
.new_container {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
//最初のアドバイス
p.advise1 {
  margin-bottom: 50px;
  width: 640px;
  font-size: 14px;
  color: #666;
}
//タイトルブロック
.title-block {
  display: inline-block;
  width: 640px;
}
.title-block input.title {
  background: #fdfdfd;
  border: 1px solid #ccc;
  padding: 4px;
  width: 630px;
}
p.count {
  font-size: 12px;
  color: #999;
}
//メインブロック
.main-block {
  width: 640px;
  border: 1px solid #ccc;
  background: #fdfdfd;
}
//メインブロックー画像
.main-block__image {
  background-image: url(https://trippiece-dev.s3.amazonaws.com/file/2015/10/9/8e4b5650-1ba5-4414-a725-d134e6c10f11_l.jpg);
  height: 480px;
  position: relative;
}
.image_content {
  position: absolute;
  background: rgba(0,0,0,.6);
  padding: 40px;
  border-radius: 4px;
  top: 183px;
  left: 182px;
}
label.upload-btn {
  display: inline-block;
  background-color: #fcb753;
  color: #fff;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  width: 170px;
  text-align: center;
}
//メインブロックー情報
.main-block__info {
  zoom: 1;
  padding: 20px;
}
.producer {
  float: left;
  width: 60%;
  position: relative;
  img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 0 solid #fff;
    border-radius: 60px;
    float: left;
    margin-right: 15px;
  }
}
.producer-name {
  overflow: hidden;
  white-space: nowrap;
  max-width: 280px;
  font-size: 18px;
  display: inline-block;
  padding-top: 18px;
  line-height: 18px;
}
.fav {
  float: right;
  width: 40%;
  text-align: right;
  padding-top: 12px;
}
i.fa.fa-star {
  font-size: 30px;
  color: yellow;
  text-shadow:
      0 1px 0 #666,
      1px 0 0 #666,
      0 -1px 0 #666,
      -1px 0 0 #666,
      -1px -1px 0 #666,
      1px -1px 0 #666,
      -1px 1px 0 #666,
      1px 1px 0 #666
      ;
}
span.fav-count {
  color: #666;
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
}
//メインブロックーなぜ
.main-block__why {
  padding: 0 20px 20px;
}
textarea.detail {
  border: 1px solid #ccc;
  padding: 4px;
  height: 140px;
  width: 100%;
  box-sizing: border-box;
}
.tags {
  border: 1px solid #ccc;
  padding: 10px 5px;
  margin-top: -9px;
  label {
    font-size: 12px;
    color: #666;
  }
}
.bootstrap-tagsinput {
  width: 100%;
}
