.home-container {
  height: 100%;
  background-color: #f1f1f1;
  //上部の特集欄
  .home-featured-content {
    height: 420px;
    background-color: white;
  }
  //ここからメイン
  .home-main {
    padding: 10px 0;
    width: 960px;
    margin: 0 auto;
    .home-main__tab {
      border-bottom: 1px solid #ccc;
      height: 42px;
      margin: 15px, 0;
    }
    .home-main__container {
      //フィルター部css
      .home-main__filter {
        width: 960px;
      }
      //１投稿のcss
      .home-main__recommend {
        width: 298px;
        border: 1px solid #ccc;
        border-bottom: 5px solid #fcb753;
        float: left;
        margin: 0 30px 30px 0;
        .home-main__recommend--thumb {
          height: 200px;
          width: 298px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .home-main__recommend--description {
          zoom: 1;
          display: block;
          padding: 15px;
          position: relative;
          border-top: 1px solid #ccc;
          background-color: white;
          .home-main__recommend--description-user {
            height: 36px;
            width: 30px;
            margin-right: 10px;
            float: left;
            position: absolute;
            img {
              width: 30px;
              height: 30px;
              overflow: hidden;
              border: 0 solid #fff;
              border-radius: 30px;
            }
          }
          .home-main__recommend--description-title {
            display: block;
            float: right;
            width: 228px;
            color: #666;
            height: 40px;
            overflow: hidden;
          }
          .clearfix {
            display: block;
            clear: both;
          }
          .home-main__recommend--description-tag {
            display: inline-block;
            padding: 5px 0 7px;
            color: #ccc;
            font-size:  12px;
            .recotag-list {
              margin-right: 2px;
              color: white;
              background-color: #5bc0de;
              display: inline;
              padding: .2em .6em .3em;
              font-size: 75%;
              font-weight: bold;
              line-height: 1;
              text-align: center;
              white-space: nowrap;
              vertical-align: baseline;
              border-radius: .25em;
            }
          }
          .home-main__recommend--description-fav {
            color: #ccc;
            padding: 5px 0 7px;
            float: right;
            background-color: white;
            i.fa.fa-star {
              color: yellow;
              text-shadow:
                  0 1px 0 #666,
                  1px 0 0 #666,
                  0 -1px 0 #666,
                  -1px 0 0 #666,
                  -1px -1px 0 #666,
                  1px -1px 0 #666,
                  -1px 1px 0 #666,
                  1px 1px 0 #666
                  ;
              font-size: 15px;
            }
            span {
              color: #666;

            }
          }
          .clearfix {
            display: block;
            clear: both;
          }
        }
      }
      .home-main__recommend:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
.home-main__container {
  width: 960px;
  .home-main__recommends-list {
    width: 960px;
  }
}

