//全体
.sign-up-container {
  width: 680px;
  margin: 40px auto;
  text-align: center;
}
//ロゴ部
a.sign-up__logo {
  display: block;
  margin-bottom: 40px;
  height: 96px;
}
i#sign-up__logo_i {
  font-size: 96px;
}
//フォーム全体
.sign-up-container form {
  background: #fdfdfd;
  margin-bottom: 40px;
  padding: 20px;
}
h1.sign-up-form__text {
  display: block;
  text-align: center;
  color: #666;
  font-size: 24px;
  margin: 0 0 40px;
  font-weight: 400;
}
//フォーム
.sign-up-form__list {
  margin-bottom: 20px;
  text-align: left;
  background: #fff;
}
.sign-up-form__list input {
  padding: 10px;
  width: 308px;
  height: 24px;
  margin-right: 20px;
  border: 1px solid #ccc;
}
.sign-up-form__desc {
  color: #999;
  font-size: 12px;
}
.sign-up-form__list label.upload-btn {
  background-color: #fcb753;
  color: #fff;
  padding: 6px 12px;
  font-weight: 400;
  user-select: none;
  width: 306px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 0;
  border: none;
  margin-right: 20px;
}
input.sign-up-form__send-btn {
  background-color: #ddd;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  width: 160px;
  border: 0 solid;
}
